#main_page{
    position: relative;
    width: 400px;
    height: 933px;

background: #FFFFFF;
}
#sticky{
    position: sticky;
    top:0px;
    padding-left: 8px;
    padding-top: 5px;
    font: 18px arial, helvetica, sans-serif;
    color: white;
    weight:200px;
    height: 50px;
    background-color: green;
}