*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    position: relative;
    width: 80%;
    height: 80vh;
    animation-name:hoverBox;
}
#red{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:red;
}
.container:hover > #red{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name:hoverBox;
    animation-duration: 8s;

}
@keyframes hoverBox {
    0% { 
        top:0;
        left: 0;
        background-color:red;
}
25%{
    top:0;
    left: 25%;
    background-color:red;
}
50%{
    top :35vh;
    left: 25%;
    background-color:red;
}
75%{
    top :35vh ;
    left: 0;
    background-color:red;
}
100% { 
    top:0;
    left: 0;
    background-color:red;
}
}