#p1{
    margin-left: 100px;
    margin-right: 100px;
border: 1px solid ;
}
#p2{
    border: 1px solid red ; 
}
#p3{
    margin-left: 150px;
    border: 1px solid ; 
}
#p4{
    margin-right: 50px;
    border: 1px solid ; 
}