*{
    margin:0;
}
h1{
    text-align: center;
    padding: 10px;
    background-color: black;
    color:white;
}
body{
    background-color: antiquewhite;
    
}
h4{
    margin-top: 20px;
}
#photo{
    margin-top: 5px;
    Width: 100px;
    height: 100px;
    background-color: rgb(180, 169, 169);
}
#orta{
    margin-top: 40px;
}
#right{
    margin-left: 40px;
}
#left{
    margin-right: 40px;
}
a{
    color: red;
}